*{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 27px;
    background-color: rgb(246, 246, 246);
    border-bottom: 1px solid #ccc;
    color: black
}

header h1{
    font-family: "Tangerine", cursive;
    font-size: 28px;
}

header nav{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15px;
}
header nav a{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
    font-size: 15px;
}
header nav a:hover{
    border-color: #ccc;
}
header nav a:focus{
    outline: none;
    border-color: #999;
}

footer{
    font-size: small;
    background-color: black;
    color: white;
    padding: 25px;
    min-height: 70px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    font-family: "Montserrat Alternates", sans-serif;
}

main h2{
    font-size: 21.5px;
}

main p{
    font-size: 14px;
}

.divider {
    margin: 20px;
    width: 100px;
    border: none;
    border-top: 1px solid darkgray;
}

hr{
    margin: 8px 0px 8px 0px;
}

.spacer{
    height: 120px;
}

.note{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 70px 0px 70px;
    color: gray;
    text-align: center;
}

.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured{
    margin-top: 30px;
}
.featured h3{
    margin: 5px;
    font-size: 17px;
}

.homepage-featured{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    background-color: lightgray;
}

.homepage-featured img{
    border: 3px solid rgb(70, 59, 59);
    box-shadow: 2px 2px 8px;
}

.homepage-featured img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.display{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.display img{
    width: 300px;
    height: 220px;
    border: outset black 4px;
    box-shadow: 2px 2px 8px;
}

.display img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: zoom-in;
}

.instructions{
    margin-top: 10px;
    font-style: italic;
    color: gray;
}

.comparison-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.comparison-grid{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    width: 604px;
    gap: 2px;
    padding: 2px;
    background-color: black;
}
.comparison-grid div{
    background-color: rgb(236, 221, 249);
    padding: 11.5px;
    text-align: center;
}
.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11, .i12, .i13, .i14, .i15, .i16, .i17, .i18 {
    font-size: 12px;
    border: 1px solid black;
}